/* Configs Gerais */
:root {
    --black: #0A0908;
    --dark-blue: #22333B;
    --beige: #EAE0D5;
    --light-brown: #C6AC8F;
    --brown: #5E503F;
    --light-gray: #EEF0F2;
    --off-white: #FAFAFF;
    --grayish-white: #ECEBE4;
    --soft-gray: #DADDD8;
    --dark-gray: #1C1C1C;
}

.navbar_style {
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: var(--off-white);
    position: relative;
}

.navbar_style a {
    color: var(--light-gray);
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar_style a:hover {
    color: var(--light-brown);
    cursor: pointer;
    transition: color 0.3s ease;
}

.logo {
    width: 100px; /* Ajusta o tamanho da logo */
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav_links {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: var(--light-gray);
}

.profile_pic {
    width: 50px; /* Ajusta o tamanho da imagem do perfil */
    height: 50px;
    border-radius: 50%;
}
