.footer_style {
    justify-content: space-between;
    background-color: var(--dark-gray);
    padding: 0 0 10px 0;
    color: var(--light-gray);
    font-size: 1.2rem;
    text-align: center;

    & div{
        display: flex;
        
    a {
        color: var(--light-gray);
        text-decoration: none;
        margin-right: 5px;
        align-items: center;
        
        &:hover{
            color: var(--brown);
            transition: color 0.4s ease ;
        }
    }
    }
}