@import "tailwindcss";
@tailwind utilities;

/*Configs Gerais*/
body {
    font-family: "Inter", serif;
    background-color: #f0f0f0;
}

/* Configurações especiais para Home */
.text_home {
    font-family: "Almendra SC", serif;
}

/*Carrosel Home*/
.bg-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .carousel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .bg-image {
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

  .content {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
  }