@import "tailwindcss";
@tailwind utilities;

/*Configs Gerais*/
:root {
  --black: #0A0908;
  --dark-blue: #22333B;
  --beige: #EAE0D5;
  --light-brown: #C6AC8F;
  --brown: #5E503F;
  --light-gray: #EEF0F2;
  --off-white: #FAFAFF;
  --grayish-white: #ECEBE4;
  --soft-gray: #DADDD8;
  --dark-gray: #1C1C1C;
}

body {
    font-family: Tahoma, Verdana, sans-serif;
    background-color: #f0f0f0;
}

/* Configurações especiais para Home */
.text_title_home {
    font-family: "Staatliches", serif;
    text-align: center;
    padding: 25px 25px 5px 20px;
    text-transform: uppercase;
    font-size: 3rem;
}

.content {
  text-align: center;
  color: var(--light-gray);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.background_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}