@import "tailwindcss";
@tailwind utilities;

/*Configs Gerais*/
:root {
  --color-dark: #222116;
  --color-light: #D4CFA3;
  --color-greenish: #92A094;
  --color-gray: #767E71;
  --color-blueish-gray: #869191;
}

body {
    font-family: "Inter", serif;
    background-color: #f0f0f0;
}

/* Configurações especiais para Home */
.text_title_home {
    font-family: "Almendra SC", serif;
    text-align: center;
    padding-top: 100px;
}

/*Carrosel Home*/
.bg_container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .carousel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .bg_image {
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

  .content {
    text-align: center;
    color: white;
    padding: 20px;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }